<div class="container-fluid">
  <div class="page-header">
    <div class="pull-right">
      <%= button_to "+Add Resource", new_resource_path(subject_id: @subject.id), class: "btn btn-success", method: 'get' %>
    </div>
    <h2><%= @subject.name %> Resources:</h2> 
  </div>

  <div>
      <% @subject.resources.each do |r| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="list-group-item active">
            <h1 class="panel-title block-title">
              <%= link_to r.name, r.url %>
            </h1>
          </div>
          <div class="panel-body">
            <%= r.description %>
          </div>    
        </div>
      </div>
      <% end %>
  </div>
</div>
