<div class="col-md-8" id="newsfeed">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title", id="resource-feed-title">Latest Resources</h3>
    </div>
    <div class="panel-body" id="resources">
      <div class="resource">
        <%= render @resources %>
      </div>
    </div>
    <div class="panel-footer">
      <%= paginate @resources unless params[:search] %>
    </div>
  </div>
</div>
