<%= button_to bookmark_path(id: resource.id), class:"btn btn-default", method: :post, remote: true do %>
  <div class="bookmark-btn" resource_id="<%= resource.id %>">
    <span class="<%= resource.star_class(current_user) %>"></span>
  </div>
<% end %>
