@import "bootstrap-sprockets";
@import "bootstrap";
@import "cohorts";
@import "users";
@import "jquery-ui";

.navbar-avatar{
  border-radius:50%;
  width:30px;
  margin-right: 10px;
}

.navbar {
  margin-bottom: 0;
}
