// Place all the styles related to the Cohorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ios-graphic{
  background-image: url('/assets/ios-development.jpg');
}

#web-graphic{
  background-image: url('/assets/web-development.jpg');
}

.cohort-banner{
  height: 500px;
  background-repeat: no-repeat; 
  background-position: center;
  opacity: 0.5;
}

.cohort-text{
  font-color: white;
  z-index: 1;
}

.block-title{
  font-size: 1.6em;
}

.recent-title{
  line-height: 0.25em;
  color: grey;
  text-align: center;
}

.more-link{
  margin-bottom: 1em;
  text-align: center;
}

.page-header{
  margin-top: 0;
}

.extra-small{
  font-size: 0.75em;
  font-style: italic;
  text-align: center;
}

.newsfeed-item{
  border-bottom: 1px dotted grey;
  padding: 8px;
}

.newsfeed-item:hover{
  border-bottom: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.well{
  margin-bottom: 0;
}

.media-body-footer{
  margin: 0 0 15px 0;
}